.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom:30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.sidebarImage {
    width: 80%;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}

.sidebarImage {
    margin-top: 15px;

}

.sidebarItem > p {
    padding: 30px ;
    margin: 0 auto;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
    

}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideIcon {
    font-size: 16px;
    margin-left: 12px;
    cursor: pointer;
}